@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    In the Miniproject007 I have used classes and HTML controls to understand how they works with using a database.<br />
	Additionally, I have created details to languagelevels, where I show also students.
</div>
